<header class="header">
    <div class="container">
        <div class="header-content">
            <a href="/" class="logo">
                <span>Campus Sports Hub</span>
            </a>
            <nav class="user-nav">
                <a href="#" class="nav-link">Log In</a>
                <a href="#" class="nav-link signup">Sign Up</a>
            </nav>
        </div>
    </div>
</header>