<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
    <link rel="stylesheet" href="/css/event.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <a href="index.ejs" class="logo">
                    <span>Campus Sports Hub</span>
                </a>
                <nav class="user-nav">
                    <a href="#" class="nav-link">Log In</a>
                    <a href="#" class="nav-link signup">Sign Up</a>
                </nav>
            </div>
        </div>
    </header>
    <nav class="main-nav">
        <div class="container">
            <ul class="nav-menu">
                <li><a href="index.ejs" class="nav-link">Home</a></li>
                <li><a href="events.ejs" class="nav-link active">Events</a></li>
                <li><a href="newEvent.ejs" class="nav-link">New Event</a></li>

            </ul>
        </div>
    </nav>

    <section class="event-details">
        <section class="event-header">
            <h1>Basketball Event</h1>
            <p>Join us for a fun-filled day of basketball!</p>
        </section>
            <h2>Event Details</h2>
            <ul>
                <li><strong>Date:</strong> Saturday, March 21st</li>
                <li><strong>Time:</strong> 10:00 AM - 2:00 PM</li>
                <li><strong>Location:</strong> Downtown Community Center</li>
            </ul>
            <button class="edit-event-button">Edit Event</button>
        </section>

        <section class="event-schedule">
        <h2>Event Schedule</h2>
        <table>
            <tr>
                <th>Time</th>
                <th>Event</th>
            </tr>
            <tr>
                <td>10:00 AM</td>
                <td>Registration and Warm-Up</td>
            </tr>
            <tr>
                <td>10:30 AM</td>
                <td>Game 1: Team A vs. Team B</td>
            </tr>
            <tr>
                <td>12:00 PM</td>
                <td>Lunch Break</td>
            </tr>
            <tr>
                <td>1:00 PM</td>
                <td>Game 2: Team C vs. Team D</td>
            </tr>
        </table>
    </section>   
</body>
<footer class="footer">
    <div class="container">
        <p>&copy; 2025 UNCC Sports Hub. All rights reserved.</p>
        <ul>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
</footer>
</html>